<template name='home'>
  <h2>Welkom op de Homepage</h2>
  <div id="image"></div>
  <div id="description">el augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas ne</div>
  <form  class="positive-vote" style="display:none">
    <input type="submit" value="akkoord" class="btn"/>
  </form>
  <form  class="negative-vote" style="display:none">
    <input type="submit" value="niet akkoord" class="btn"/>
  </form>

</template>
